html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

table {
    border: solid 1px black;
}

input {
    margin-bottom: 5px;
}

table tbody tr:nth-child(even) {
    background-color: beige;
}

form {
    border: solid 1px black;
    padding: 20px;
    margin-top: 5px;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: white;
    border: solid 1px grey;
    padding: 10px 20px 0px;
    color: black;
}
.header {   
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgba(52, 36, 102, 0.534);
    min-height: 150px;
    color: #f1f1f1;
}